.b {
	position: relative;
	bottom: 37px;
	left: 32px;
}
.c {
	position: relative;
	bottom: 37px;
	left: 40px;
}
.d {
	position: relative;
	bottom: 73px;
	left: 100px;
	
}
.sign_1 {
	position: relative;
	bottom: 18px;
	left: 20px;
}
.sign_2 {
	position: relative;
	bottom: 54px;
	left: 85px;
}
.x_1 {
	position: relative;
	bottom: 37px;
	left: 32px;
}
.x_2 {
	position: relative;
	bottom: 73px;
	left: 100px;
}
.eql {
	position: relative;
	bottom: 36px;
	left: 36px;
}

.x_ans {
	position: relative; 	
	bottom: 40px;
	right: 15px;
}
input.whole {
	position: relative;
	bottom: 60px;
	left: 30px;
	width: 25px;
	height: 25px;
	border: 1px solid black;
	display: block;

}
input.numerator {
	position: relative;
	bottom: 90px;
	left: 66px;
	width: 25px;
	border: 1px solid black;
	display: block;
}
input.denominator {
	position: relative;
	bottom: 90px;
	left: 66px;
	width: 25px;
	border: 1px solid black;
	display: block;
}

.fract_line_answer {
	position: relative;
	bottom: 90px;
	left: 63px;
	font-size: 14px;
	width: 30px;
	z-index: 9999999;
}
