.answer-input {
	position: relative;
	width: 40px;
	height: 25px;
	border: 1px solid black;
}

.mark-correct {
	background-color: rgb(46, 199, 32);
}

.mark-correct-sq {
	background-color: rgb(192, 255, 3);
}

td {
	width: 30px;
}

