<!DOCTYPE html>
<html>
<head>
	<link rel="icon" href="https://cdn4.vectorstock.com/i/1000x1000/35/48/multiplication-button-or-x-icon-vector-10273548.jpg">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
	<link href="multiplication.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
	<title>Multiplication Table</title>
</head>
<body>
  <div id="app">
  <v-app>
    <v-main>
		<v-form>
		<v-container>
		<v-row>
		<v-col
		cols="12"
		md="2"
        >
          <v-text-field
            v-model="table_len_input"
            label="Length of table"
            type="number"
            required
          ></v-text-field>
        </v-col>
			<v-col>
				<v-select :items="order_items" label="Traversal Order" v-model="order">
				</v-select>
       </v-col>

      </v-row>
      <v-row>
		<v-col>
				<v-btn @click="generate()">Start</v-btn>
		</v-col>
		<v-col>
		<div class="instructions" v-if="generated">
		Light green indicates that the number entered is a full square.
		</div>
		</v-col>
   </v-row>
   <v-row>
      <multiplication-table :root="get_root()" v-if="generated" >
      </multiplication-table>

      </v-row>
    </v-container>
  </v-form>
  </v-main>
  </v-app>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.5/es6-shim.js"></script>
  <script src= "js/multiplication.js"></script>
  </script>

</body>
</html>
