<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <link href="style.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
<template>
  <v-form v-model="valid">
    <v-container>
      <v-row>
        <v-col
          cols="12"
          md="2"
        >
          <v-text-field
            v-model="n_problems"
            label="Number of problems"
            type="number"
            required
          ></v-text-field>
        </v-col>
        <v-col
          cols="12"
          md="2"
        >
          <v-text-field
            v-model="max_val"
            label="Maximum value"
            type="number"
            required
          ></v-text-field>
        </v-col>

        <v-col
          cols="12"
          md="2"
        >
          <v-text-field
            v-model="n_terms"
            label="Number of terms"
            type="number"
            required
          ></v-text-field>
        </v-col>
        </v-col>
      </v-row>
      <v-row>
				<v-btn @click="generate()">Generate</v-btn>
      </v-row>
    </v-container>
  </v-form>
</template>
	<v-container>
		<template v-for="i in problems.length">
				<div class="problem_container">
					<div class="problem_label">
					{{i}} Problem
					</div>
						<problem :data="problems[i-1]"></problem>
				</div>
		</template>
	</v-container>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.5/es6-shim.js"></script>
  <script src= "js/fract.js"></script>
  <script src="js/app.js">
  </script>

</body>
</html>
