input.whole {
	position: relative;
	top: 15px;
	left: 0px;
	width: 15px;
}
input.numerator {
	position: relative;
	bottom: 10px;
	left: 14px;
	width: 15px;
}
input.denominator {
	position: relative;
	bottom: 12px;
	left: 15px;
	width: 15px;
}
.fract_line_answer {
	position: relative;
	left: 15px;
	bottom: 10px;
	font-size: 14px;
    width: 10px;
}
.whole {
	position: relative;
	top: 7px;
	right: 20px;
	font-size: 14px;
}

.numerator {
	position: relative;
	right: 17px;
	font-size: 14px;
}

.denominator {
	position: relative;
	right: 10px;
	font-size: 14px;
}

.fract_line {
	position: relative;
	right: 10px;
	font-size: 14px;
    width: 10px;
}


.signs {
	position: relative;
	right: 20px;
}

