.fract_line {
    width: 10px;
}

input.whole {

}

.whole {
	position: relative;
	top: 7px;
	left: 0px;
	font-size: 14px;
}

.numerator {
	position: relative;
	top: 0px;
	left: 10px;
	font-size: 14px;
}

.denominator {
	position: relative;
	top: 20px;
	left: 10px;
	font-size: 14px;
}

.fract_line {
	position: relative;
	top: 10px;
	left: 10px;
	font-size: 14px;
}


.signs {
}

